<!DOCTYPE html>
<html>
<head>
  <title>Skills</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skills.css') }}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='pic/cd-logo.png') }}">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Skills</h1>
    
    <div class="category">
      <h2>Marketing</h2>
      <ul>
        <li>Analýza marketingových dat</li>
        <li>Audiovizuální produkce</li>
        <li>Copywriting</li>
        <li>Event management</li>
        <li>Marketingová strategie</li>
        <li>Online Marketing</li>
        <li>Public Relations</li>
      </ul>
    </div>
    
    <div class="category">
      <h2>Vývoj</h2>
      <ul>
        <li>Analýza</li>
        <li>Architektura</li>
        <li>Backend</li>
        <li>Cloud (Azure, AWS, GCP)</li>
        <li>Databáze</li>
        <li>DevOps</li>
        <li>Docker a Kubernetes</li>
        <li>Frontend</li>
        <li>HTML & CSS</li>
        <li>Java a Kotlin</li>
        <li>JavaScript + TypeScript</li>
        <li>Mobilní aplikace (Andriod, iOS, Flutter, …)</li>
        <li>Node.js</li>
        <li>PHP</li>
        <li>Python</li>
        <li>React</li>
        <li>Testování</li>
        <li>WordPress</li>
      </ul>
    </div>
    
    <div class="category">
      <h2>Projektové řízení</h2>
      <ul>
        <li>Business model a development</li>
        <li>Finance</li>
        <li>Fundraising</li>
        <li>Product Owner</li>
        <li>Scrum Master</li>
      </ul>
    </div>
    
    <div class="category">
      <h2>Personalistika</h2>
      <ul>
        <li>Administrace a nástroje</li>
        <li>Community management</li>
        <li>Recruitment</li>
        <li>Vzdělávání</li>
      </ul>
    </div>
    
    <div class="category">
      <h2>Design</h2>
      <ul>
        <li>Mobile design</li>
        <li>Product design</li>
        <li>Research</li>
        <li>UI design</li>
        <li>UX design</li>
        <li>Web design</li>
      </ul>
    </div>
    
    <div class="category">
      <h2>Ostatní</h2>
      <ul>
        <li>Odborná veřejnost</li>
      </ul>
    </div>
  </div>
</body>
</html>
